body {
    background-color: #7abcff;
    font-family: impact, arial;
    height: 100%;
    text-align: center;
    width: 100%;
  }

  h1 {
    font-family: 'Lilita One', cursive;
    color: white;
    margin-top: 0.2em;
    margin-bottom: 0;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    font-size: 5em;
  }
  

  h2 a{
    font-size: 0.6em;
     color: black;
     text-decoration: none !important;
     text-decoration-color: black;
     font-family: 'Fredoka One', cursive;
     outline: 0;

  }
  a:visited {
    color: black;
  }
  a.underlined
{
   text-decoration:underline;
}

#hint {
  margin-top: 1em;
  font-size: 2em;
  color: black;
  font-family: 'Fredoka One', cursive;
}
  @media only screen and (max-width: 600px) {
    h1{
      font-size: 3em;
    }
    h2 {
      font-size: 1.5em;
    }
    #hint {
      margin-top: 1em;
      font-size: 1.5em;
    }
  }
  
  #feedback{
    opacity: 0;
    color: red;
  }

  .subtitle {
    color: white;
    font-size: 1em;
    /* font-weight: 100; */
  }
  
  .col-centered{
    float: none;
    margin: 0 auto;
  }
  
  #scene-container {
    width: 20em;
    height: 20em;
    /* border-style: dashed;
    border-color: black;
    border-width: 2px;
    border-radius: 5px; */
  }

  #submit-text {
    height: 3em;
    /* margin-top: 1em; */
    border-radius: 5px;
    background-color: #b8dcff;
    border-color: transparent;
    width: 50%;
  }

  #submit-button {
    height: 3em;
    margin: 0.5em;
    border-radius: 5px;
    background-color: #1c8dff;
    color: white;
    width: 50%;
    border-color: black;
    border-width: 0.01em;
  }